*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex; /*9 btn will be in a line */
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex; /*9 btn will be in a line */
    flex-wrap: wrap;/* 3 btns will be on separate line  */
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 10vmin;
    color:tomato ;
}
#reset-btn{
    padding: 1rem;
    width: 7rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}
 #new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
 }

 #msg{
    color:salmon;
    font-size: 5vmin;
 } 
 .msg-container{
     height: 80vmin;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 2.5rem;
 }
 .hide{
    display: none;
 }